* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  max-width: 600;
}

.container {
  display: grid;
  height: 100vh;

  grid-template-rows: 1.5vh 100vh auto auto auto;
}

/*New navigation bar code - will definitely experiment on*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
  padding: 10px 20px;
}

.desktop-nav {
  display: flex;
  list-style: none;
}

.desktop-nav li {
  margin-right: 20px;
}

.desktop-nav li:last-child {
  margin-right: 0;
}

.desktop-nav a {
  color: #fff;
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

.mobile-menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.mobile-menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
  }

  .mobile-nav ul li {
    margin-bottom: 10px;
  }

  .mobile-nav ul li:last-child {
    margin-bottom: 0;
  }

  .mobile-nav ul a {
    color: #fff;
    text-decoration: none;
  }

  .mobile-nav.active ul {
    display: block;
  }
}

/* Here, it ends for the navbar. */

.home-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  background-color: rgba(192, 192, 192, 0.664);
}

#about-me {
  gap: 2vh;
  padding: 1.5vh;
  background-color: cadetblue;
}

.about-me-column {
  width: 100%;
  padding: 2vh;
}

.about-me-row {
	display: flex;
  gap: 2vh;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
	.about-me-row {
    	flex-direction: column;
    }
}

.profile-photo {
  background-color: #202020;
  width: 100%;
}

#projects {
  gap: 2vh;
  padding: 1.5vh;
  background-color: burlywood;
}

.projects-column {
  width: 100%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
}
  
.projects-row {
	  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2vh;
}

@media screen and (min-width: 992px) {
	.projects-row {
    	flex-direction: row;
  }
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button a {
    text-decoration: none;
}

button:hover {
  background-color: #5cca60;
  transition: 0.25s;
  font-weight: 600;
}

#contact {
  background-color: silver;
  text-align: center;
  padding: 1.5vh;
}

img {
  width: 100%;
}

