* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  display: grid;
  grid-template-rows: 100vh auto auto auto;
}

/*New navigation bar code - will definitely experiment on*/
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 6px;
  position: fixed;
  width: 100%;
}

.desktop-nav {
  display: flex;
  list-style-type: none;
}

.desktop-nav li {
  margin-right: 40px;
}

.desktop-nav li:last-child {
  margin-right: 0;
}

.desktop-nav a, #contact a {
  color: #fff;
  text-decoration: none;
}

.desktop-nav a:hover, #contact a:hover {
  transition: border-bottom-color 0.2s ease;
  margin-bottom: 5px;
  border-bottom: 2px solid transparent;
  border-bottom-color: navy;
}

.mobile-nav {
  display: none;
  width: 100%;
}

.mobile-menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 24px;
  cursor: pointer;
}

.mobile-menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav ul {
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
  }

  .mobile-nav ul li {
    margin-bottom: 10px;
  }

  .mobile-nav ul li:last-child {
    margin-bottom: 0;
  }

  .mobile-nav ul a {
    color: #fff;
    text-decoration: none;
  }

  .mobile-nav ul a:hover {
    transition: 0.2s;
    margin-bottom: 5px;
    border-color: navy;
    border: 2px solid;
  }

  .mobile-nav.active ul {
    display: block;
  }
}

/* Here, it ends for the navbar. */

#home {
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 33%, rgba(1,55,141,1) 50%, rgba(0,212,255,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  width: 400px;
  padding: 2vh;
}

#hello {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}

#welcome {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

#about-me {
  gap: 2vh;
  padding: 16px;
  color: #000000;
  background-color: #fff;
}

.about-me-column {
  width: 100%;
  padding: 2vh;
}

.about-me-row {
	display: flex;
  gap: 2vh;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
	.about-me-row {
    	flex-direction: column;
    }
}

.profile-photo {
  background-color: #333;
  width: 100%;
}

#projects {
  gap: 2vh;
  padding: 16px;
  color: #000000;
  background-color: #fff;
}

.projects-column {
  width: 100%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  background-color: #aaa;
}
  
.projects-row {
	  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2vh;
    margin-top: 2vh;
}

@media screen and (min-width: 992px) {
	.projects-row {
    	flex-direction: row;
  }
}

button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button a {
    text-decoration: none;
    color: #fff;
}

button:hover {
  background-color: navy;
  transition: 0.25s;
  font-weight: 600;
  color: #fff;
}

#contact {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 6px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
	#contact {
    	flex-direction: column;
      gap: 10px;
  }
}

img {
  width: 100%;
}

.image-holder {
  width: 100%;
  padding-bottom: inherit;
  background-color: #000;
  color: #fff;
  text-align: center;
}