body {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
/* Navigation Bar - definitely plan on reusing */
.portfolio-navbar {
  overflow: hidden;
  position: fixed;
  background-color: #303030;
  width: 100%;
}

.portfolio-navbar a {
  float: left;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.portfolio-navbar a:hover {
  background-color: aquamarine;
}

/* End of Navigation Bar */

.portfolio-layout {
  display: grid;
  grid-template-rows: 2fr;
}

.intro {
    background-image: url(images/chicago-g84b3b80bf_1920.jpg);
   height: 100vh;
}

.intro-text {
  text-align: right;
  position: sticky;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.about-me {
  background-color: silver;
  height: 50vh;
}

.about-me-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-me-picture {
  background-color: aliceblue;
  height: 50vh;
}

.about-me-background {
  font-size: 16px;
  text-align: center;
}

.projects {
  height: 100vh;
}

.project-layout {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  text-align: center;
}

.photo-placeholder {
  background-color: aliceblue;
  width: 100%;
}

/* Used for the project layout */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto 0;
  text-align: center;
  font-family: verdana;
}

.title {
  color: grey;
  font-size: 16px;
  font-weight: 100;
}

button {
  border: none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 1.5vh;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.contact-text {
	font-size: 20px;
    font-weight: 200;
    color: white;
}

button:hover, a:hover {
  transition: 0.3s;
  background-color: red;
}

.card:hover {
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.6);
  transition: 0.25s;
}

img {
    width: 100%;
}

/* End of project layout */

.contact {
  background-color: #303030;
  color: #fff;
  height: 20vh;
}

.contact-title {
  text-align: center;
}
